body {
    background-color: silver;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
  
  

  #place-button
{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 35px;
    display: none;
  }

  #Tape{
    margin-bottom: 70px !important;
  }
